.gs-grid {
  --cellSize: 2.2em;
  display: grid;
  gap: 2em;
}

.gs-grid__field {
  --columns: 16;
  --rows: 7;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
  grid-auto-flow: column;
}

.gs-grid__cursor {
  background-color: hsla(46, 100%, 50%, 0.178);
  grid-column: calc(var(--cursor) + 1);
  grid-row: 2 / span var(--rows);
  width: var(--cellSize);
  pointer-events: none;
}

.gs-key {
  --button-face: #444f;

  background-color: var(--button-face);
  border: 1px solid black;
  border-width: 1px 1px 0 0;
  box-sizing: border-box;
  display: grid;
  grid-column: calc(var(--step) + 1);
  grid-row: calc(var(--rows) - var(--note) + 1);
  grid-template-areas: "main";
  height: var(--cellSize);
  place-items: center;
  transition: background-color 100ms, color 100ms;
  user-select: none;
  width: var(--cellSize);

  &:before {
    content: "";
    grid-area: main;
    padding-top: 100%;
  }

  & > * {
    grid-area: main;
  }

  &--has-hilight {
    --button-face: rgb(99, 89, 36);
    transition: none;
  }

  &--is-active {
    --button-face: rgb(255, 196, 0);
    color: #000c;
    transition: background-color 800ms, color 100ms;
  }

  &--is-active.gs-key--has-hilight {
    --button-face: rgb(255, 248, 147);
    transition: none;
  }

  &__label {
    display: none;
    font-family: "Red Hat Mono";
    font-weight: 100;
    font-size: 0.625em;
  }
}
