@use "sass:color";
@use "../style/theme";

.eg-grid {
  --color-off: #{theme.$color-gray-200};
  --color-on: #{theme.$color-gray-600};
  --color-hilight-outer: #{theme.$color-gray-800};
  --color-hilight-inner: #{color.adjust(black, $alpha: -1)};
  --color-glow: #{color.adjust(theme.$color-brand-600, $alpha: -0.9)};

  --cellSize: initial;
  --brColor: #{color.adjust(theme.$color-gray-100, $alpha: -0.5)};
  --columns: 16;
  --rows: 7;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
  justify-self: stretch;

  &--color-yellow {
    --color-off: #{theme.$color-gray-200};
    --color-label-hi: rgba(255, 0, 0, 0.116);
    --color-label-lo: rgba(161, 51, 0, 0.541);
    --color-on: #{theme.$color-brand-400};
    --color-hilight-outer: #{theme.$color-brand-800};
    --color-hilight-inner: #f000;
    --color-glow: #{color.adjust(theme.$color-brand-600, $alpha: -0.8)};
  }

  &--color-blue {
    --color-off: #{theme.$color-gray-200};
    --color-label-hi: rgba(0, 52, 119, 0.527);
    --color-label-lo: rgba(0, 44, 189, 0.582);
    --color-on: rgb(0, 109, 233);
    --color-hilight-outer: #8af;
    --color-hilight-inner: #0f00;
    --color-glow: #0af4;
  }
}

.eg-grid__cursor {
  grid-column: 1;
  grid-row: 1 / span var(--rows);
  pointer-events: none;
  position: relative;
  width: var(--cellSize);

  &:after {
    content: "";
    background-color: var(--color-glow);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translate(calc(100% * var(--cursor)), 0);
  }
}

.eg-key {
  --button-gradient: radial-gradient(#8881, #0000);
  --color-face: var(--color-off);
  aspect-ratio: 1;
  background-color: var(--color-face);
  background-image: var(--button-gradient);
  border: 1px solid var(--brColor);
  border-radius: 2px;
  border-width: 1px 1px 0 0;
  box-sizing: border-box;
  display: grid;
  grid-column: calc(var(--step) + 1);
  grid-row: calc(var(--rows) - var(--note));
  grid-template-areas: "main";
  height: var(--cellSize);
  place-items: center;
  transition: background-color 100ms, color 100ms;
  user-select: none;
  width: var(--cellSize);

  & > * {
    grid-area: main;
  }

  &--is-active {
    --color-face: var(--color-on);
    --gd-start: var(--color-hilight-outer);
    --gd-end: var(--color-hilight-inner);
    --button-gradient: radial-gradient(var(--gd-start), var(--gd-end));
    border: 1px solid var(--color-hilight-inner);
    box-shadow: 0 0 16px 1px var(--color-glow);
    color: theme.$color-gray-100;
    transition: background-color 800ms, color 100ms;
    z-index: 1;
  }

  &__label {
    --trans-gd-start: var(--color-label-lo);
    --trans-gd-end: var(--color-label-hi);

    background-image: linear-gradient(
      var(--trans-gd-end),
      var(--trans-gd-start)
    );
    color: #ffff;
    text-shadow: 0 0 0.3em #000f;
    display: grid;
    font-family: sans-serif;
    border-radius: 0.2em;
    font-size: 0.8em;
    font-weight: 100;
    grid-area: main;
    grid-template-areas: "main";
    place-items: center;
    justify-self: stretch;
    height: 50%;

    &--transpose-up {
      background-image: linear-gradient(
        var(--trans-gd-start),
        var(--trans-gd-end)
      );
      transform: translate(0, -50%);
    }

    &--transpose-dn {
      transform: translate(0, 50%);
    }
  }
}
