@use "sass:color";
@use "../style/theme";

.gs-grid {
  --cellSize: min(2.2em, 6.25vw);
  --brColor: #{color.adjust(theme.$color-gray-100, $alpha: -0.5)};
  display: grid;
  gap: 1em;
}

.gs-grid__field {
  --columns: 16;
  --rows: 7;
  border: 1px solid var(--brColor);
  border-width: 0 0 1px 1px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
}

.gs-grid__cursor {
  background-color: color.adjust(theme.$color-brand-200, $alpha: -0.75);
  grid-column: calc(var(--cursor) + 1);
  grid-row: 1 / span var(--rows);
  width: var(--cellSize);
  pointer-events: none;
}

.gs-key {
  --face: #{theme.$color-gray-200};
  --button-gradient: radial-gradient(#8881, #0000);

  background-color: var(--face);
  background-image: var(--button-gradient);
  border: 1px solid var(--brColor);
  border-radius: 2px;
  border-width: 1px 1px 0 0;
  box-sizing: border-box;
  display: grid;
  grid-column: calc(var(--step) + 1);
  grid-row: calc(var(--rows) - var(--note));
  grid-template-areas: "main";
  height: var(--cellSize);
  place-items: center;
  transition: background-color 100ms, color 100ms;
  user-select: none;
  width: var(--cellSize);

  &:before {
    content: "";
    grid-area: main;
    padding-top: 100%;
  }

  & > * {
    grid-area: main;
  }

  &--is-active {
    --face: #{theme.$color-brand-400};
    --gd-start: #{theme.$color-brand-800};
    --gd-end: #f000;
    --button-gradient: radial-gradient(var(--gd-start), var(--gd-end));
    box-shadow: 0 0 16px 4px color.adjust(theme.$color-brand-600, $alpha: -0.9);
    color: theme.$color-gray-100;
    transition: background-color 800ms, color 100ms;
    z-index: 1;
  }

  &__label {
    display: none;
    font-family: "Red Hat Mono";
    font-size: 0.625em;
    font-weight: 100;
  }
}
