@use "sass:color";
@use "../style/theme";

$cls: ".eg-splash";

#{$cls} {
  align-self: center;
  display: grid;
  place-items: center;
}

#{$cls}__title {
  animation: fade-in 0.8s ease-in-out 3s both;
}

#{$cls}__title-2 {
  animation: fade-in 0.8s ease-in-out 6s both;
}

#{$cls}__title-3 {
  animation: fade-in 0.8s ease-in-out 9s both;
}

#{$cls}__playbutton {
  --size: 4em;
  --icon-height: calc(var(--size) * 0.667);
  --icon-width: calc(var(--size) * 0.5);
  --float-offset: 1em;
  --color-grad-s0: #{theme.$color-brand-200};
  --color-grad-s1: #{theme.$color-brand-400};

  animation-fill-mode: both;
  animation: fade-in 0.8s ease-in-out both;
  background-color: theme.$color-gray-200;
  background-image: radial-gradient(#0006, #0002);
  border-radius: 0.2em;
  box-shadow: 0 0 0.8em 0 #0003;
  display: grid;
  grid-template-areas: "main";
  height: var(--size);
  transition: box-shadow 0.2s ease-in-out background-color 0.3s ease-in-out;
  width: var(--size);

  &:hover {
    background-color: #{color.adjust(theme.$color-gray-200, $lightness: 1%)};
    background-image: radial-gradient(#0004, #0002);
    box-shadow: 0 var(--float-offset) 1em 0 #0002;
    cursor: pointer;
  }

  &:not(:hover) stop {
    animation: sleep 2s linear infinite both;
    transition: 0.2s ease-in-out;
  }

  &:hover stop {
    animation: pant 0.6s linear infinite both;
    transition: 0.2s ease-in-out;
  }

  .eg-path__primary {
    align-self: center;
    fill: url("#grad");
    grid-area: main;
    justify-self: center;
    transform: translate(-0.05em, 0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

$s0-0: color.adjust(theme.$color-brand-100, $lightness: 10%, $saturation: 100%);
$s1-0: color.adjust(theme.$color-brand-100, $lightness: 18%, $saturation: 100%);

$s0-1: color.adjust(theme.$color-brand-100, $lightness: 20%, $saturation: 100%);
$s1-1: color.adjust(theme.$color-brand-200, $lightness: 30%, $saturation: 100%);

$s0-2: color.adjust(theme.$color-brand-400);
$s1-2: color.adjust(theme.$color-brand-600);

$s0-3: color.adjust(theme.$color-brand-600);
$s1-3: color.adjust(theme.$color-brand-800);

@keyframes sleep {
  0% {
    --color-grad-s0: #{$s0-0};
    --color-grad-s1: #{$s1-0};
  }
  5% {
    --color-grad-s0: #{$s0-0};
    --color-grad-s1: #{$s1-0};
  }
  10% {
    --color-grad-s0: #{color.mix($s0-0, $s0-1, 50%)};
    --color-grad-s1: #{color.mix($s1-0, $s1-1, 50%)};
  }
  15% {
    --color-grad-s0: #{$s0-1};
    --color-grad-s1: #{$s1-1};
  }
  20% {
    --color-grad-s1: #{color.adjust(theme.$color-brand-600, $lightness: 10%)};
  }
  30% {
    --color-grad-s1: #{color.adjust(theme.$color-brand-600, $lightness: 10%)};
  }
  35% {
    --color-grad-s0: #{$s0-1};
    --color-grad-s1: #{$s1-1};
  }
  40% {
    --color-grad-s0: #{color.mix($s0-0, $s0-1, 50%)};
    --color-grad-s1: #{color.mix($s1-0, $s1-1, 50%)};
  }
  45% {
    --color-grad-s0: #{$s0-0};
    --color-grad-s1: #{$s1-0};
  }
  100% {
    --color-grad-s0: #{$s0-0};
    --color-grad-s1: #{$s1-0};
  }
}

@keyframes pant {
  0% {
    --color-grad-s0: #{color.mix($s0-2, $s0-3, 0%)};
    --color-grad-s1: #{color.mix($s1-2, $s1-3, 0%)};
  }
  45% {
    --color-grad-s0: #{color.mix($s0-2, $s0-3, 50%)};
    --color-grad-s1: #{color.mix($s1-2, $s1-3, 50%)};
  }
  60% {
    --color-grad-s0: #{color.mix($s0-2, $s0-3, 100%)};
    --color-grad-s1: #{color.mix($s1-2, $s1-3, 100%)};
  }
  75% {
    --color-grad-s0: #{color.mix($s0-2, $s0-3, 50%)};
    --color-grad-s1: #{color.mix($s1-2, $s1-3, 50%)};
  }
  80% {
    --color-grad-s0: #{color.mix($s0-2, $s0-3, 0%)};
    --color-grad-s1: #{color.mix($s1-2, $s1-3, 0%)};
  }
  100% {
    --color-grad-s0: #{color.mix($s0-2, $s0-3, 0%)};
    --color-grad-s1: #{color.mix($s1-2, $s1-3, 0%)};
  }
}
