@use "../style/theme";

.eg-synth {
}

.eg-synthoptions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  justify-self: flex-end;
}

.eg-synth__optiongroup {
}

.eg-synth__option {
  align-items: center;
  display: grid;
  gap: 1em;
  grid-auto-flow: column;
  position: relative;
  user-select: none;
}

.eg-synth__led {
  $base: &;
  display: none;

  & + label {
    --size: 1em;
    display: inline-grid;
    grid-template-areas: "led label";
    grid-template-columns: var(--size);
    column-gap: 0.5em;

    // both
  }

  & + label:before,
  & + label:after {
    border-radius: var(--size);
    border: 1px solid theme.$color-gray-200;
    content: "";
    grid-area: led;
    height: var(--size);
    place-self: center;
    width: var(--size);
  }

  // socket
  & + label:before {
    background-image: radial-gradient(#fff1 50%, #fbff0033);
  }

  // LED
  & + label:after {
    --size: 0.9em;
  }
  &:checked + label:after {
    background-image: radial-gradient(circle at 50% 40%, theme.$color-brand-800, theme.$color-brand-200);
    box-shadow: 0 0 0.5em 0.1em theme.$color-brand-200;
  }
}

.eg-synth__switch {
  display: none;

  & + label {
    --len: 1.7em;
    --flip-len: calc(var(--len) / 3);

    align-items: center;
    display: inline-grid;
    gap: 0.5em;
    grid-template-areas: "check label";
    grid-template-columns: var(--len) auto;
  }

  // track
  & + label:before {
    align-items: center;
    background-color: theme.$color-gray-200;
    border-radius: 1em;
    content: "";
    grid-area: check;
    height: 1em;
    line-height: 0;
    width: var(--len);
  }

  // lever
  & + label:after {
    --color: #{theme.$color-gray-600};

    background-color: var(--color);
    background-blend-mode: overlay;
    background-image: radial-gradient(circle at bottom, #fff9, #0008),
      radial-gradient(#0000 60%, #fff);
    border: 1px solid theme.$color-gray-100;
    border-radius: 1em;
    content: "";
    grid-area: check;
    height: 1em;
    justify-self: center;
    transform: translate(calc(-1 * var(--flip-len)), 0);
    transition: transform 0.08s ease-in-out;
    width: 1em;
  }

  &:checked + label:after {
    --color: #{theme.$color-brand-400};

    transform: translate(var(--flip-len), 0);
  }
}
