$color-brand-50: hsl(30, 33%, 14%);
$color-brand-100: hsl(32, 39%, 19%);
$color-brand-200: hsl(32, 66%, 33%);
$color-brand-400: hsl(36, 66%, 50%);
$color-brand-600: hsl(48, 100%, 60%);
$color-brand-800: hsl(56, 100%, 70%);
$color-gray-50: hsl(213, 4%, 10%);
$color-gray-100: hsl(213, 4%, 15%);
$color-gray-200: hsl(213, 6%, 25%);
$color-gray-400: hsl(213, 6%, 40%);
$color-gray-600: hsl(213, 8%, 60%);
$color-gray-800: hsl(213, 20%, 85%);

$bp-compact: 35em;
