@use "./style/theme";

@import url(https://fonts.googleapis.com/css?family=Red+Hat+Mono:wght@100..900&display=swap);

html,
body {
  font-family: "Red Hat Mono";
  margin: 0;
  padding: 0;
}

html {
  color: theme.$color-gray-600;
  height: 100vh;
  background-color: theme.$color-gray-100;
}

body {
  display: grid;
  place-items: center;
  height: 100%;
}

a,
a:visited {
  color: theme.$color-brand-400;
}
