@import url(https://fonts.googleapis.com/css?family=Red+Hat+Mono:wght@100..900&display=swap);

html,
body {
  margin: 0;
  padding: 0;
}

html {
  color: #fff8;
  height: 100vh;
  background-color: #333f;
}

body {
  display: grid;
  place-items: center;
  height: 100%;
}
